{% extends "!layout.html" %}

{% block rootrellink %}
  <span class="language_switcher_placeholder">{{ language or 'English' }}</span>
  {{ super() }}
{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="{{ pathto('_static/switchers.js', 1) }}"></script>
{{ super() }}
{% endblock %}

{%- block sidebarlogo %}
{{ super() }}
{%-
include "searchbox.html"
%}
<p/>
{%- endblock %}
{%- block sidebarsearch %}
{%- endblock %}

{%- block footer %}
 {{ super() }}
{%- endblock %}
